<%= form_tag('executeRubyScript',  id: "rubyCodeExport") do %>
		<%= hidden_field_tag(:exportCode, "")%>
		<%= hidden_field_tag(:export, true)%>
		<span><%= submit_tag "Export Script", class: "exportBtn btn btn-inverse btn-large"%></span>
<% end %>
<script>
$('.exportBtn').on('click', function() {
	var decorator = $('.my-code-area').data('ace');
	var content = decorator.editor.ace.getValue();
	$('#exportCode').val(content);
});
</script>